{% extends "base.html" %}
{% block body %}

<div class="container-fluid py-4">
  <!-- Barre de Recherche -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Rechercher des amis..." aria-label="Rechercher des amis">
        <button class="btn btn-info" type="button">Rechercher</button>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-3 mb-4">
      <div class="card card-profile h-100">
        <img src="../static/images/bg-profile.jpg" alt="Image placeholder" class="card-img-top">
        
        <div class="row justify-content-center">
          <div class="col-4 col-lg-4">
            <div class="mt-n6 mb-4">
              <a href="javascript:;">
                <!-- Augmenter la taille de la photo de profil et la centrer -->
                <img src="../static/images/team-2.jpg" class="rounded-circle img-fluid border border-3 border-white" style="width: 100px; height: 100px;">
              </a>
            </div>
          </div>
        </div>

        <div class="card-body pt-0 text-center">
          <!-- Ajout du pseudo de l'utilisateur -->
          <h5 class="font-weight-bold mb-2">Bradley Wilson</h5>

          <div class="row justify-content-center mb-3">
            <div class="col-12 d-flex justify-content-center">
              <!-- Statistiques personnalisées -->
              <div class="d-flex text-center">
                <div class="d-grid mx-2">
                  <span class="text-lg font-weight-bolder">15</span>
                  <span class="text-sm opacity-8">Voyages</span>
                </div>
                <div class="d-grid mx-2">
                  <span class="text-lg font-weight-bolder">8</span>
                  <span class="text-sm opacity-8">Pays</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer text-center border-0 pt-2 pb-3">
            <div class="d-flex justify-content-center">
              <!-- Bouton pour ajouter un ami -->
              <a href="javascript:;" class="btn btn-sm btn-info mb-0">Ajouter un ami</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-3 mb-4">
      <div class="card card-profile h-100">
        <img src="../static/images/bg-profile.jpg" alt="Image placeholder" class="card-img-top">
        
        <div class="row justify-content-center">
          <div class="col-4 col-lg-4">
            <div class="mt-n6 mb-4">
              <a href="javascript:;">
                <img src="../static/images/team-2.jpg" class="rounded-circle img-fluid border border-3 border-white" style="width: 100px; height: 100px;">
              </a>
            </div>
          </div>
        </div>

        <div class="card-body pt-0 text-center">
          <h5 class="font-weight-bold mb-2">Bradley Wilson</h5>

          <div class="row justify-content-center mb-3">
            <div class="col-12 d-flex justify-content-center">
              <div class="d-flex text-center">
                <div class="d-grid mx-2">
                  <span class="text-lg font-weight-bolder">15</span>
                  <span class="text-sm opacity-8">Voyages</span>
                </div>
                <div class="d-grid mx-2">
                  <span class="text-lg font-weight-bolder">8</span>
                  <span class="text-sm opacity-8">Pays</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer text-center border-0 pt-2 pb-3">
            <div class="d-flex justify-content-center">
              <a href="javascript:;" class="btn btn-sm btn-info mb-0">Ajouter un ami</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-3 mb-4">
      <div class="card card-profile h-100">
        <img src="../static/images/bg-profile.jpg" alt="Image placeholder" class="card-img-top">
        
        <div class="row justify-content-center">
          <div class="col-4 col-lg-4">
            <div class="mt-n6 mb-4">
              <a href="javascript:;">
                <img src="../static/images/team-2.jpg" class="rounded-circle img-fluid border border-3 border-white" style="width: 100px; height: 100px;">
              </a>
            </div>
          </div>
        </div>

        <div class="card-body pt-0 text-center">
          <h5 class="font-weight-bold mb-2">Bradley Wilson</h5>

          <div class="row justify-content-center mb-3">
            <div class="col-12 d-flex justify-content-center">
              <div class="d-flex text-center">
                <div class="d-grid mx-2">
                  <span class="text-lg font-weight-bolder">15</span>
                  <span class="text-sm opacity-8">Voyages</span>
                </div>
                <div class="d-grid mx-2">
                  <span class="text-lg font-weight-bolder">8</span>
                  <span class="text-sm opacity-8">Pays</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer text-center border-0 pt-2 pb-3">
            <div class="d-flex justify-content-center">
              <a href="javascript:;" class="btn btn-sm btn-info mb-0">Ajouter un ami</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-md-3 mb-4">
      <div class="card card-profile h-100">
        <img src="../static/images/bg-profile.jpg" alt="Image placeholder" class="card-img-top">
        
        <div class="row justify-content-center">
          <div class="col-4 col-lg-4">
            <div class="mt-n6 mb-4">
              <a href="javascript:;">
                <img src="../static/images/team-2.jpg" class="rounded-circle img-fluid border border-3 border-white" style="width: 100px; height: 100px;">
              </a>
            </div>
          </div>
        </div>

        <div class="card-body pt-0 text-center">
          <h5 class="font-weight-bold mb-2">Bradley Wilson</h5>

          <div class="row justify-content-center mb-3">
            <div class="col-12 d-flex justify-content-center">
              <div class="d-flex text-center">
                <div class="d-grid mx-2">
                  <span class="text-lg font-weight-bolder">15</span>
                  <span class="text-sm opacity-8">Voyages</span>
                </div>
                <div class="d-grid mx-2">
                  <span class="text-lg font-weight-bolder">8</span>
                  <span class="text-sm opacity-8">Pays</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer text-center border-0 pt-2 pb-3">
            <div class="d-flex justify-content-center">
              <a href="javascript:;" class="btn btn-sm btn-info mb-0">Ajouter un ami</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
