{% extends "base.html" %}
{% block body %}

<div class="container-fluid py-3">
  <div class="trip-header text-center">
    <h1 class="trip-title font-weight-bolder text-white mt-6">Mon voyage à Bali</h1>
    <p class="trip-dates">Du 7 au 10 juillet 2024</p>
    <p class="trip-collaborators">Amine, Elias,..</p>
  </div>
</div>

<!-- KPI Section -->
<div class="container-fluid py-3">
  <div class="kpi-container">
    <div class="kpi-card" data-bs-toggle="modal" data-bs-target="#pointsToVisitModal">
      <div class="numbers">
        <h5 class="font-weight-bolder">
          10
        </h5>
        <p class="mb-0">
          Lieux visités
        </p>
      </div>
    </div>
    <div class="kpi-card" data-bs-toggle="modal" data-bs-target="#pointsVisitedModal">
      <div class="numbers">
        <h5 class="font-weight-bolder">
          10
        </h5>
        <p class="mb-0">
          Lieux à visiter
        </p>
      </div>
    </div>
  </div>
  

  <!-- Map and POI Table Section -->
  <div class="row mt-4">
    <!-- Map -->
    
      <!-- MAP -->
      <div class="col-lg-5 mb-lg-0 mb-4">
        <div class="card z-index-2 h-100">
          <div class="card-body p-0 h-100">
            <div class="map-container">
              <div class="map-content">
                {{ map_html | safe }}
              </div>
            </div>
          </div>
        </div>
      </div>     
    

    <!-- POI Table -->
    <div class="col-lg-7 mb-lg-0 mb-4">
      <div class="card z-index-2 h-100">
        <div class="card-header d-flex justify-content-between align-items-center p-2">
          <h6 class="mb-0" style="font-size: 14px;">Liste des Lieux</h6>
          <button class="btn btn-outline-primary btn-sm" id="addLocationBtn" style="font-size: 12px;" data-bs-toggle="modal" data-bs-target="#addLocationModal">
            <i class="fas fa-plus"></i> Ajouter un lieu
          </button>
        </div>

        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table id="dataTable" class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Lieux</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Statut</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for poi in pois %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">
                          <a href="https://www.google.com/maps/dir/?api=1&destination={{ poi.latitude }},{{ poi.longitude }}" target="_blank" class="text-decoration-none">
                              {{ poi.name }}
                          </a>
                      </h6>
                        <p class="text-xs text-secondary mb-0">Monument</p>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle text-center text-sm">
                    <h6 class="mb-0 text-sm">{{ poi.visit_date.strftime('%d/%m/%Y - %H:%M') }}</h6>
                  </td>

                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm {% if poi.visited %}bg-gradient-success{% else %}bg-gradient-warning{% endif %}">
                      {% if poi.visited %}Visité{% else %}À visiter{% endif %}
                    </span>
                  </td>

                  <td class="text-end">
                    <div class="action-menu">
                      <button class="btn btn-link text-secondary p-0 action-trigger">
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                          <i class="fas fa-pencil-alt me-2"></i> Modifier
                        </a>
                        <a class="dropdown-item text-danger" href="#">
                          <i class="fas fa-trash me-2"></i> Supprimer
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Points to Visit -->
  <div class="modal fade" id="pointsToVisitModal" tabindex="-1" aria-labelledby="pointsToVisitModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pointsToVisitModalLabel">Points à Visiter</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item">Le Palais Princier</li>
            <li class="list-group-item">Le Casino de Monte-Carlo</li>
            <li class="list-group-item">Le Jardin Exotique</li>
            <li class="list-group-item">Le Musée Océanographique</li>
            <li class="list-group-item">La plage de Monte-Carlo</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Points to Visit -->
  <div class="modal fade" id="pointsVisitedModal" tabindex="-1" aria-labelledby="pointsVisitedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pointsToVisitModalLabel">Lieux visités</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item">Le Palais Princier</li>
            <li class="list-group-item">Le Casino de Monte-Carlo</li>
            <li class="list-group-item">Le Jardin Exotique</li>
            <li class="list-group-item">Le Musée Océanographique</li>
            <li class="list-group-item">La plage de Monte-Carlo</li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal for Adding POI -->
  <div class="modal fade" id="addLocationModal" tabindex="-1" aria-labelledby="addLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addLocationModalLabel">Ajouter un Lieu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="addLocationForm" method="POST" action="{{ url_for('travel_details', trip_id=trip.id) }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
              <label for="poiName" class="form-label">Lieu</label>
              {{ form.name(class="form-control", placeholder="Ex: Musée du Louvre") }}
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                  <label for="visitDate" class="form-label">Date de visite</label>
                  {{ form.visit_date(class="form-control") }}
              </div>
          
              <div class="col-md-6">
                  <label for="visited" class="form-label">Statut de visite</label>
                  {{ form.visited() }}
              </div>
            </div>
            <div class="mb-3">
              <label for="poiName" class="form-label">Notes</label>
              
            </div>
            <div class="mb-3">
              <label for="poiName" class="form-label">Lien</label>
              
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}
