{% extends "base.html" %}
{% block title %} {{ trip.title }} {% endblock %}
{% block body %}

<!-- KPI Section -->
<div class="container-fluid py-3">
  <div class="row mt-4">
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <h5 class="font-weight-bolder">{{ duration }}</h5>
                <p class="mb-0">jours</p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-calendar" viewBox="0 0 16 16">
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <h5 class="font-weight-bolder">{{ num_visited_pois }}</h5>
                <p class="mb-0">lieux visités</p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pin-map-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8z"/>
                  <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <h5 class="font-weight-bolder">{{  num_to_visit_pois }}</h5>
                <p class="mb-0">lieux à visiter</p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-compass" viewBox="0 0 16 16">
                  <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016m6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0"/>
                  <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  


  <!-- Map and POI Table Section -->
  <div class="row mt-4">
    <!-- Map -->
    <div class="col-lg-5 mb-lg-0 mb-4">
      <div class="card z-index-2 h-100">
        <div class="card-body p-0 h-100" id="map">
          <!-- Render the dynamic map HTML here -->
          {{ map_html|safe }}
        </div>
      </div>
    </div>

    <!-- POI Table -->
    <div class="col-lg-7 mb-lg-0 mb-4">
      <div class="card z-index-2 h-100">
        <div class="card-header d-flex justify-content-between align-items-center p-2">
          <h6 class="mb-0" style="font-size: 14px;">Liste des Lieux</h6>
          <button class="btn btn-outline-primary btn-sm" id="addLocationBtn" style="font-size: 12px;" data-bs-toggle="modal" data-bs-target="#addLocationModal">
            <i class="fas fa-plus"></i> Ajouter un lieu
          </button>
        </div>

        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table id="dataTable" class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Lieux</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Statut</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for poi in pois %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ poi.name }}</h6>
                        <p class="text-xs text-secondary mb-0">Monument</p>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle text-center text-sm">
                    <h6 class="mb-0 text-sm">{{ poi.visit_date.strftime('%d/%m/%Y - %H:%M') }}</h6>
                  </td>

                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm {% if poi.visited %}bg-gradient-success{% else %}bg-gradient-warning{% endif %}">
                      {% if poi.visited %}Visité{% else %}À visiter{% endif %}
                    </span>
                  </td>

                  <td class="text-end">
                    <div class="action-menu">
                      <button class="btn btn-link text-secondary p-0 action-trigger">
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                          <i class="fas fa-pencil-alt me-2"></i> Modifier
                        </a>
                        <a class="dropdown-item text-danger" href="#">
                          <i class="fas fa-trash me-2"></i> Supprimer
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal for Adding POI -->
  <div class="modal fade" id="addLocationModal" tabindex="-1" aria-labelledby="addLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addLocationModalLabel">Ajouter un Lieu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="addLocationForm" method="POST" action="{{ url_for('travel_details', trip_id=trip.id) }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
              <label for="poiName" class="form-label">Lieu</label>
              {{ form.name(class="form-control", placeholder="Ex: Musée du Louvre") }}
            </div>

            <div class="mb-3">
              <label for="visitDate" class="form-label">Date de visite</label>
              {{ form.visit_date(class="form-control") }}
            </div>

            <div class="mb-3">
              <label for="visited" class="form-label">Statut de visite</label>
              {{ form.visited(class="form-select", id="visited") }}
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}
