{% extends "base_refont.html" %}
{% block title %} Mes voyages {% endblock %}
{% block body %}

<div class="container-fluid py-4">
  <h3 class="text-black">Mes voyages</h3>
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="form">
        <input type="text" class="form-control form-input" placeholder="Search anything...">
      </div>
    </div>
  </div>

  <div class="row">
    {% for trip in trips %}
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-img-top">
          <img src="{{ url_for('static', filename='images/destinations/' ~ trip.image) }}" class="img-fluid border-radius-lg" alt="{{ trip.title }}">
        </div>
        <div class="card-body text-center">
            
          <!-- Details button -->
          <a href="{{ url_for('travel_details', trip_id=trip.id) }}" class="card-title">{{ trip.title }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Modal pour ajouter un voyage -->
  <div class="modal fade" id="addTripModal" tabindex="-1" aria-labelledby="addTripModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTripModalLabel">Ajouter un nouveau voyage</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('travels') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3 row">
              <div class="col">
                <label for="title" class="form-label"><i class='fas fa-map-marker-alt'></i> &nbsp;Titre du voyage</label>
                {{ form.title(class="form-control", placeholder="Ex: Voyages d'affaires à Paris") }}
              </div>
              <div class="col">
                <label for="destination" class="form-label"><i class='fas fa-map-marker-alt'></i> &nbsp; Destination principale</label>
                {{ form.destination(class="form-control", placeholder="Ex: Paris") }}
              </div>
            </div>
            
            <div class="mb-3 row">
              <div class="col">
                <label for="start_date" class="form-label"><i class='fas fa-map-marker-alt'></i> &nbsp;Début</label>
                {{ form.start_date(class="form-control") }}
              </div>
              <div class="col">
                <label for="end_date" class="form-label"><i class='fas fa-map-marker-alt'></i> &nbsp;Fin</label>
                {{ form.end_date(class="form-control") }}
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col">
                <label for="transport_type" class="form-label"><i class='fas fa-map-marker-alt'></i> &nbsp; Type de transport</label>
                {{ form.transport_type(class="form-select", id="transport_type") }}
              </div>
                
              <div class="col">
                <label for="image" class="form-label">Photo de couverture</label>
                {{ form.image(class="form-control") }}
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter mon voyage</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Bouton flottant avec un lien pour ajouter un voyage -->
<div class="position-fixed bottom-0 end-0 mb-4 me-4">
  <a href="#addTripModal" data-bs-toggle="modal" class="btn btn-primary rounded-circle" style="width: 60px; height: 60px; display: flex; align-items: center; justify-content: center;">
    <i class='fas fa-plus' style='font-size:25px'></i>
  </a>
</div>
{% endblock %}
