{% extends "base.html" %}
{% block title %} Mes voyages {% endblock %}
{% block body %}

<div class="container-fluid py-4">
  <div class="row mb-4">
    <div class="col text-end">
      <!-- Bouton pour ouvrir le modal -->
      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTripModal">
        Ajouter un voyage
      </a>
    </div>
  </div>

  <div class="row">
    <!-- Card for Paris -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-img-top">
          <img src="../static/images/destinations/Paris.jpg" class="img-fluid border-radius-lg" alt="Paris">
        </div>
        <div class="card-body text-center">
          <!-- City & Flag of the Country -->
          <h5 class="card-title d-flex justify-content-center align-items-center">
            Paris
            <img src="../static/images/flags/france.png" alt="France" style="width: 20px; height: 20px; margin-left: 10px;">
          </h5>
          <!--Details button -->
          <a href="{{ url_for('travel_details') }}" class="btn btn-primary">Voir les détails</a>
        </div>
      </div>
    </div>

    <!-- Card for Bordeaux -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-img-top">
          <img src="../static/images/destinations/Bordeaux.jpg" class="img-fluid border-radius-lg card-img-top" alt="Bordeaux">
        </div>
        <div class="card-body text-center">
          <!-- City & Flag of the Country -->
          <h5 class="card-title d-flex justify-content-center align-items-center">
            Bordeaux
            <img src="../static/images/flags/france.png" alt="France" style="width: 20px; height: 20px; margin-left: 10px;">
          </h5>
          <a href="#" class="btn btn-primary">Voir les détails</a>
        </div>
      </div>
    </div>

    <!-- Card for Marrakech -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-img-top">
          <img src="../static/images/destinations/Marrakech.jpg" class="img-fluid border-radius-lg" alt="Marrakech">
        </div>
        <div class="card-body text-center">
          <!-- City & Flag of the Country -->
          <h5 class="card-title d-flex justify-content-center align-items-center">
            Marrakech
            <img src="../static/images/flags/morocco.png" alt="Morocco" style="width: 20px; height: 20px; margin-left: 10px;">
          </h5>
          <a href="#" class="btn btn-primary">Voir les détails</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal pour ajouter un voyage -->
  <div class="modal fade" id="addTripModal" tabindex="-1" aria-labelledby="addTripModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTripModalLabel">Ajouter un nouveau voyage</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="tripTitle" class="form-label">Titre du voyage</label>
              <input type="text" class="form-control" id="tripTitle" placeholder="Ex: Voyages d'affaires à Paris">
            </div>
            <div class="mb-3">
              <div class="row">

                <div class="col-md-6">
                  <label for="tripCountry" class="form-label">Ville</label>
                  <input type="text" class="form-control" id="tripCountry" placeholder="Ex: Paris">
                </div>

                <div class="col-md-6">
                  <label for="tripCountry" class="form-label">Pays</label>
                  <input type="text" class="form-control" id="tripCountry" placeholder="Ex: France">
                </div>
                
              </div>
            </div>
            
            <div class="mb-3">
              <div class="row">
                <div class="col-md-6">
                  <label for="tripDate" class="form-label">Début</label>
                  <input type="date" class="form-control" id="tripDate">
                </div>
                <div class="col-md-6">
                  <label for="tripDate2" class="form-label">Fin</label>
                  <input type="date" class="form-control" id="tripDate2">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="tripImage" class="form-label">Photo de couverture</label>
              <input type="file" class="form-control" id="tripImage">
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer le voyage</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
