{% extends "base.html" %}
{% block title %} Mes voyages {% endblock %}
{% block body %}

<div class="container-fluid py-4">
  <div class="row mb-4">
    <div class="col text-end">
      <!-- Bouton pour ouvrir le modal -->
      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTripModal">
        Ajouter un voyage
      </a>
    </div>
  </div>

  <div class="row">
    {% for trip in trips %}
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-img-top">
          <img src="{{ url_for('static', filename='images/destinations/' ~ trip.image) }}" class="img-fluid border-radius-lg" alt="{{ trip.title }}">
        </div>
        <div class="card-body text-center">
          <!-- Title of the Trip -->
          <h5 class="card-title">{{ trip.title }}</h5>
          <!-- Details button -->
          <a href="{{ url_for('travel_details', trip_id=trip.id) }}" class="btn btn-primary">Voir les détails</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Modal pour ajouter un voyage -->
  <div class="modal fade" id="addTripModal" tabindex="-1" aria-labelledby="addTripModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTripModalLabel">Ajouter un nouveau voyage</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('travels') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3 row">
              <div class="col">
                <label for="title" class="form-label"><i class='fas fa-map-marker-alt'></i> &nbsp;Titre du voyage</label>
                {{ form.title(class="form-control", placeholder="Ex: Voyages d'affaires à Paris") }}
              </div>
              <div class="col">
                <label for="destination" class="form-label"><i class='fas fa-map-marker-alt'></i> &nbsp; Destination principale</label>
                {{ form.destination(class="form-control", placeholder="Ex: Paris") }}
              </div>
            </div>
            
            <div class="mb-3 row">
              <div class="col">
                <label for="start_date" class="form-label"><i class='fas fa-map-marker-alt'></i> &nbsp;Début</label>
                {{ form.start_date(class="form-control") }}
              </div>
              <div class="col">
                <label for="end_date" class="form-label"><i class='fas fa-map-marker-alt'></i> &nbsp;Fin</label>
                {{ form.end_date(class="form-control") }}
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col">
                <label for="transport_type" class="form-label"><i class='fas fa-map-marker-alt'></i> &nbsp; Type de transport</label>
                {{ form.transport_type(class="form-select", id="transport_type") }}
              </div>
                
              <div class="col">
                <label for="image" class="form-label">Photo de couverture</label>
                {{ form.image(class="form-control") }}
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter mon voyage</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
